name: Sync Cluster Policies

on:
  workflow_call:
    secrets:
      APP_PRIVATE_KEY:
        description: "GitHub App Private Key"
        required: true
    inputs:
      KYVERNO_POLICIES_DIR:
        description: "Directory to sync Kyverno policies to"
        required: true
        type: string

permissions: {}

jobs:
  sync-policies:
    runs-on: ubuntu-latest
    env:
      KYVERNO_POLICIES_DIR: ${{ inputs.KYVERNO_POLICIES_DIR }}
      KYVERNO_POLICIES_TEMP_DIR: /tmp/cluster-policies

    steps:
      - name: Generate GitHub App Token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        id: generate-token
        with:
          app_id: ${{ vars.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          token: ${{ steps.generate-token.outputs.token }}
      - name: Download latest Cluster Policies
        run: |
          git clone --filter=blob:none --sparse https://github.com/kyverno/policies "$KYVERNO_POLICIES_TEMP_DIR"
          cd "$KYVERNO_POLICIES_TEMP_DIR"
          git sparse-checkout set --no-cone '*/' ':!.*'
      - name: Remove blacklisted policies
        run: |
          while IFS= read -r pattern; do
          find "$KYVERNO_POLICIES_TEMP_DIR" -path "$KYVERNO_POLICIES_TEMP_DIR/$pattern" -exec rm -rf {} +
            done < .policyignore
      - name: Copy Cluster Policies to the target directory
        run: |
          mkdir -p "$KYVERNO_POLICIES_DIR"
          rm -rf -- "${KYVERNO_POLICIES_DIR:?}/"*
          cp -r "$KYVERNO_POLICIES_TEMP_DIR"/* "$KYVERNO_POLICIES_DIR" || echo "No policies found to copy."
      - name: Create PR with changes
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          commit-message: "chore: sync cluster policies"
          title: "chore: sync cluster policies"
          body: "Sync Cluster Policies from <https://github.com/kyverno/policies>"
          branch: sync-cluster-policies
          delete-branch: true
          signoff: true
          sign-commits: true
          reviewers: devantler
          assignees: devantler
          token: ${{ steps.generate-token.outputs.token }}
          branch-token: ${{ steps.generate-token.outputs.token }}
